Repository thc1006/O-RAN-Intent-MANO-for-Network-Slicing: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, security-policy-check, gosec-security-scan, dockerfile-security, network-policy-validation, rbac-validation

.pre-commit-config.yaml:

# O-RAN Intent-MANO Pre-commit Security Configuration
# This configuration runs security checks on every commit
repos:
  # Code quality and formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: detect-private-key
      - id: detect-aws-credentials

  # Go security scanning
  - repo: https://github.com/securecodewarrior/sast-scan
    rev: v1.15.0
    hooks:
      - id: sast-scan
        args: ['--type', 'go', '--config', '.sast-config.json']
        pass_filenames: false

  # Go code quality
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet-mod
      - id: go-mod-tidy
      - id: go-unit-tests
      - id: golangci-lint
        args: ['--enable=gosec,gocritic,revive,staticcheck']

  # Dockerfile security
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint
        args: ['--config', '.hadolint.yaml']

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^\.secrets\.baseline$

  # Kubernetes security
  - repo: https://github.com/bridgecrewio/checkov
    rev: 3.1.34
    hooks:
      - id: checkov
        args: [
          '--framework', 'kubernetes,dockerfile,helm',
          '--skip-check', 'CKV_K8S_8,CKV_K8S_9,CKV_K8S_10',
          '--compact',
          '--quiet'
        ]
        files: \.(yaml|yml|json|dockerfile|tf)$

  # License compliance
  - repo: local
    hooks:
      - id: license-check
        name: License Header Check
        entry: scripts/security/check-license-headers.sh
        language: script
        files: \.(go|py|js|ts)$

  # Security configuration validation
  - repo: local
    hooks:
      - id: security-policy-check
        name: Security Policy Validation
        entry: scripts/security/validate-security-policies.sh
        language: script
        files: ^(security/|deploy/k8s/|\.github/workflows/).*\.(yaml|yml)$

  # Go security best practices
  - repo: local
    hooks:
      - id: gosec-security-scan
        name: Go Security Scan (gosec)
        entry: scripts/security/run-gosec.sh
        language: script
        files: \.go$
        exclude: ^(vendor/|\.git/)

  # Container security
  - repo: local
    hooks:
      - id: dockerfile-security
        name: Dockerfile Security Check
        entry: scripts/security/check-dockerfile-security.sh
        language: script
        files: Dockerfile$

  # Network policy validation
  - repo: local
    hooks:
      - id: network-policy-validation
        name: Network Policy Validation
        entry: scripts/security/validate-network-policies.sh
        language: script
        files: ^.*network.*policy.*\.(yaml|yml)$

  # RBAC validation
  - repo: local
    hooks:
      - id: rbac-validation
        name: RBAC Policy Validation
        entry: scripts/security/validate-rbac.sh
        language: script
        files: ^.*rbac.*\.(yaml|yml)$

exclude: |
  (?x)^(
    vendor/|
    node_modules/|
    \.git/|
    tests/golden/|
    .*\.pb\.go$|
    .*_generated\.go$|
    zz_generated\.deepcopy\.go$
  )

# Configuration for individual tools
default_language_version:
  python: python3.11

# Global settings
fail_fast: false
minimum_pre_commit_version: '3.0.0'

Update Go version to 1.24.5 in all GitHub Actions workflows
  .github/workflows/ci-quickfix.yml
  .github/workflows/ci.yml
  .github/workflows/enhanced-ci.yml
  .github/workflows/production-deployment.yml
  .github/workflows/security-scan-simple.yml
  .github/workflows/security.yml
  .github/workflows/trivy-scan.yml
Due: security-policy-check

feat: Upgrade entire codebase to Go 1.24.5
  .github/workflows/security-enhanced.yml
  adapters/vnf-operator/api/v1alpha1/go.mod
  adapters/vnf-operator/go.mod
  api/mano/v1alpha1/go.mod
  cn-dms/go.mod
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/test-framework/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
  go.mod
  nephio-generator/api/workload/v1alpha1/go.mod
  nephio-generator/go.mod
  nephio-generator/pkg/generator/go.mod
  nephio-generator/pkg/renderer/go.mod
  o2-client/go.mod
  orchestrator/go.mod
  pkg/security/go.mod
  ran-dms/go.mod
  scripts/security/test-security-setup.sh
  tn/agent/pkg/http.go
  tn/agent/pkg/iperf.go
  tn/agent/pkg/iperf_test.go
  tn/agent/pkg/vxlan/optimized_manager_test.go
  tn/manager/api/v1alpha1/go.mod
  tn/tests/integration/http_integration_test.go
  tn/tests/integration/iperf_integration_test.go
  tn/tests/integration/vxlan_integration_test.go
  tn/tests/security/kubernetes_manifest_test.go
Due: license-check, security-policy-check, gosec-security-scan, dockerfile-security

fix: Resolve TN agent test failures with proper security mocking
  pkg/security/subprocess.go
  tn/agent/pkg/vxlan/optimized_manager.go
  tn/agent/pkg/vxlan/optimized_manager_test.go
Due: license-check, gosec-security-scan

fix: resolve all security alerts and enhance testing framework
  Makefile
  coverage.out
  tn/agent/pkg/http_test.go
  tn/agent/pkg/iperf_test.go
  tn/tests/README.md
  tn/tests/coverage/coverage_test.go
  tn/tests/integration/http_integration_test.go
  tn/tests/security/kubernetes_manifest_test.go
Due: license-check, gosec-security-scan

fix: Resolve remaining TN test compilation and Go vet errors
  tn/tests/integration/http_integration_test.go
  tn/tests/integration/iperf_integration_test.go
  tn/tests/integration/vxlan_integration_test.go
Due: license-check, gosec-security-scan

fix: update Go module dependencies to resolve CI build failures
  go.mod
Due: none

fix: upgrade GitHub Actions to resolve deprecation warnings
  .github/workflows/security-scan.yml
Due: security-policy-check

fix: update Go module dependencies to resolve missing gin-gonic and security package references
  cn-dms/go.mod
  tn/go.mod
Due: none

fix: resolve all Go security vulnerabilities and enhance testing framework
  tests/security/README.md
  tests/security/coverage_security_test.go
  tests/security/negative_security_test.go
Due: license-check, gosec-security-scan

fix: resolve duplicate case statements in VNF type switch
  adapters/vnf-operator/pkg/translator/porch.go
Due: license-check, gosec-security-scan

ci(guardian): bootstrap CI guardrails 2025-09
  .github/workflows/security.yml
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/test-framework/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
  docs/ci-best-practices-2025-09.md
Due: security-policy-check, dockerfile-security

fix: update Go version from 1.23.6 to 1.24.0 to resolve build failures
  .github/workflows/security-enhanced.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/test-framework/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
Due: security-policy-check, dockerfile-security

fix: resolve Go version compatibility and security compliance issues
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/test-framework/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
  deploy/k8s/base/orchestrator.yaml
  deploy/k8s/base/vnf-operator.yaml
Due: security-policy-check, dockerfile-security

fix: resolve test compilation issues and enhance CI setup
  .github/workflows/ci.yml
  tests/security/benchmark_security_test.go
  tests/security/command_injection_test.go
  tests/security/coverage_security_test.go
  tests/security/error_handling_test.go
  tests/security/fuzzing_security_test.go
  tests/security/integration_security_test.go
Due: license-check, security-policy-check, gosec-security-scan

fix: resolve go vet errors and enhance CI workflow for tests
  tests/security/error_handling_test.go
  tests/security/fuzzing_security_test.go
  tests/security/integration_security_test.go
  tests/security/negative_security_test.go
Due: license-check, gosec-security-scan

fix: use GOTOOLCHAIN=auto to enable automatic Go version selection
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/test-framework/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
Due: dockerfile-security

fix: update all Dockerfiles to Go 1.24.5 and fix pkg/security dependencies
  .github/workflows/ci.yml
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/test-framework/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
Due: security-policy-check, dockerfile-security

fix: revert to golang:1.24.0-alpine base image with GOTOOLCHAIN=go1.24.5
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/test-framework/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
Due: dockerfile-security

fix: revert to Go 1.23.6 to resolve version incompatibility
  .github/workflows/security.yml
  adapters/vnf-operator/api/v1alpha1/go.mod
  adapters/vnf-operator/go.mod
  api/mano/v1alpha1/go.mod
  cn-dms/go.mod
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/test-framework/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
  go.mod
  nephio-generator/api/workload/v1alpha1/go.mod
  nephio-generator/go.mod
  nephio-generator/pkg/generator/go.mod
  nephio-generator/pkg/renderer/go.mod
  o2-client/go.mod
  orchestrator/go.mod
  pkg/security/go.mod
  ran-dms/go.mod
  tn/go.mod
  tn/manager/api/v1alpha1/go.mod
Due: security-policy-check, dockerfile-security
