Repository thc1006/O-RAN-Intent-MANO-for-Network-Slicing: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, security-policy-check, gosec-security-scan, dockerfile-security, network-policy-validation, rbac-validation

.pre-commit-config.yaml:

# O-RAN Intent-MANO Pre-commit Security Configuration
# This configuration runs security checks on every commit
repos:
  # Code quality and formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: detect-private-key
      - id: detect-aws-credentials

  # Go security scanning
  - repo: https://github.com/securecodewarrior/sast-scan
    rev: v1.15.0
    hooks:
      - id: sast-scan
        args: ['--type', 'go', '--config', '.sast-config.json']
        pass_filenames: false

  # Go code quality
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet-mod
      - id: go-mod-tidy
      - id: go-unit-tests
      - id: golangci-lint
        args: ['--enable=gosec,gocritic,revive,staticcheck']

  # Dockerfile security
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint
        args: ['--config', '.hadolint.yaml']

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^\.secrets\.baseline$

  # Kubernetes security
  - repo: https://github.com/bridgecrewio/checkov
    rev: 3.1.34
    hooks:
      - id: checkov
        args: [
          '--framework', 'kubernetes,dockerfile,helm',
          '--skip-check', 'CKV_K8S_8,CKV_K8S_9,CKV_K8S_10',
          '--compact',
          '--quiet'
        ]
        files: \.(yaml|yml|json|dockerfile|tf)$

  # License compliance
  - repo: local
    hooks:
      - id: license-check
        name: License Header Check
        entry: scripts/security/check-license-headers.sh
        language: script
        files: \.(go|py|js|ts)$

  # Security configuration validation
  - repo: local
    hooks:
      - id: security-policy-check
        name: Security Policy Validation
        entry: scripts/security/validate-security-policies.sh
        language: script
        files: ^(security/|deploy/k8s/|\.github/workflows/).*\.(yaml|yml)$

  # Go security best practices
  - repo: local
    hooks:
      - id: gosec-security-scan
        name: Go Security Scan (gosec)
        entry: scripts/security/run-gosec.sh
        language: script
        files: \.go$
        exclude: ^(vendor/|\.git/)

  # Container security
  - repo: local
    hooks:
      - id: dockerfile-security
        name: Dockerfile Security Check
        entry: scripts/security/check-dockerfile-security.sh
        language: script
        files: Dockerfile$

  # Network policy validation
  - repo: local
    hooks:
      - id: network-policy-validation
        name: Network Policy Validation
        entry: scripts/security/validate-network-policies.sh
        language: script
        files: ^.*network.*policy.*\.(yaml|yml)$

  # RBAC validation
  - repo: local
    hooks:
      - id: rbac-validation
        name: RBAC Policy Validation
        entry: scripts/security/validate-rbac.sh
        language: script
        files: ^.*rbac.*\.(yaml|yml)$

exclude: |
  (?x)^(
    vendor/|
    node_modules/|
    \.git/|
    tests/golden/|
    .*\.pb\.go$|
    .*_generated\.go$|
    zz_generated\.deepcopy\.go$
  )

# Configuration for individual tools
default_language_version:
  python: python3.11

# Global settings
fail_fast: false
minimum_pre_commit_version: '3.0.0'

fix: resolve unbound variable error in security-check.sh
  scripts/security-check.sh
Due: none

fix: resolve Go static analysis issues - part 1
  clusters/validation-framework/argocd_validator.go
  clusters/validation-framework/git_repository.go
  fix-static-analysis.sh
  tests/integration/vnf_lifecycle_test.go
Due: license-check, gosec-security-scan

docs: add script for tracking remaining static analysis issues
  fix-remaining-issues.sh
Due: none

fix: improve security scan workflow status handling
  .github/workflows/security-scan.yml
Due: security-policy-check

fix: resolve Python formatting and gosec installation issues
  .github/workflows/enhanced-ci.yml
  nlp/run_intents.py
Due: license-check, security-policy-check

fix: resolve remaining static analysis issues
  .github/workflows/enhanced-ci.yml
  clusters/validation-framework/metrics_collector.go
  clusters/validation-framework/rollback_manager.go
  fix-static-analysis-batch.sh
  monitoring/pkg/bottleneck_analyzer.go
  tests/framework/dashboard/metrics_aggregator.go
Due: license-check, security-policy-check, gosec-security-scan

fix: resolve vnf-operator unit test failures in CI
  adapters/vnf-operator/go.mod
  adapters/vnf-operator/tests/golden/testdata/expected/ran_package/Kptfile
  tests/e2e/deployment_timing_test.go
  tests/e2e/intent_to_slice_workflow_test.go
  tests/integration/nephio_integration_test.go
  tests/integration/o2_interface_test.go
  tests/integration/vnf_lifecycle_test.go
Due: license-check, gosec-security-scan

fix: correct Python import sorting for isort compliance
  nlp/run_intents.py
  tests/integration/vnf_operator_integration_test.go
  tests/performance/network_performance_test.go
  tests/performance/qos_validation_test.go
  tests/performance/thesis_validation_test.go
  tests/security/benchmark_security_test.go
Due: license-check, gosec-security-scan

fix: resolve Go compilation errors for CI pipeline
  tests/e2e/deployment_timing_test.go
  tests/integration/o2_interface_test.go
  tests/security/benchmark_security_test.go
Due: license-check, gosec-security-scan

fix: comment out unused imports in integration tests
  tests/integration/nephio_integration_test.go
  tests/integration/vnf_lifecycle_test.go
  tests/integration/vnf_operator_integration_test.go
Due: license-check, gosec-security-scan

fix: resolve Python analysis script exit code issue in CI
  .github/workflows/enhanced-ci.yml
Due: security-policy-check

fix: uncomment client import in vnf_operator_integration_test
  tests/integration/vnf_operator_integration_test.go
Due: license-check, gosec-security-scan

chore: add gitleaks configuration for false positives
  .gitleaks.toml
Due: none

fix: comment out remaining unused imports in test files
  deploy/docker/vnf-operator/Dockerfile.go1.24.7
  tests/e2e/deployment_timing_test.go
  tests/e2e/intent_to_slice_workflow_test.go
  tests/performance/network_performance_test.go
  tests/performance/qos_validation_test.go
Due: license-check, gosec-security-scan

fix: resolve SARIF upload failure in security-scan job
  .github/workflows/enhanced-ci.yml
Due: security-policy-check

feat: implement comprehensive testing framework and fix Docker builds
  CUsersthc1006DesktopdevO-RAN-Intent-MANO-for-Network-SlicingtestsREADME.md
  Makefile
  deploy/docker/test-framework/Dockerfile.simple
  docs/TESTING_PROCEDURES.md
  tests/README.md
  tests/cmd/test-runner/main.go
  tests/go.mod
  tests/healthcheck/services_health_test.go
  tests/integration/orchestrator_integration_test.go
  tests/mocks/api_types.go
  tests/run-tests.sh
  tests/test.config.yaml
Due: license-check, gosec-security-scan

fix: align Go version to 1.24.7 across all modules to fix CI failures
  adapters/vnf-operator/api/v1alpha1/go.mod
  adapters/vnf-operator/api/v1alpha1/go.sum
  adapters/vnf-operator/go.mod
  adapters/vnf-operator/go.sum
  api/mano/v1alpha1/go.mod
  api/mano/v1alpha1/go.sum
  cn-dms/go.mod
  cn-dms/go.sum
  go.mod
  go.sum
  go.work
  nephio-generator/api/workload/v1alpha1/go.mod
  nephio-generator/api/workload/v1alpha1/go.sum
  nephio-generator/go.mod
  nephio-generator/go.sum
  nephio-generator/pkg/generator/go.mod
  nephio-generator/pkg/generator/go.sum
  nephio-generator/pkg/renderer/go.mod
  nephio-generator/pkg/renderer/go.sum
  o2-client/go.mod
  o2-client/go.sum
  orchestrator/go.mod
  orchestrator/go.sum
  ran-dms/go.mod
  ran-dms/go.sum
  tn/go.mod
  tn/go.sum
  tn/manager/api/v1alpha1/go.mod
  tn/manager/api/v1alpha1/go.sum
Due: none

docs: add comprehensive version compatibility and golangci-lint best practices
  .golangci.yml
  docs/GOLANGCI_LINT_BEST_PRACTICES.md
  docs/GO_NEPHIO_COMPATIBILITY.md
Due: none

fix: add missing cmd/operator directory for VNF operator build
  adapters/vnf-operator/cmd/operator/main.go
Due: license-check, gosec-security-scan
