Repository thc1006/O-RAN-Intent-MANO-for-Network-Slicing: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, security-policy-check, gosec-security-scan, dockerfile-security, network-policy-validation, rbac-validation

.pre-commit-config.yaml:

# O-RAN Intent-MANO Pre-commit Security Configuration
# This configuration runs security checks on every commit
repos:
  # Code quality and formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: detect-private-key
      - id: detect-aws-credentials

  # Go security scanning
  - repo: https://github.com/securecodewarrior/sast-scan
    rev: v1.15.0
    hooks:
      - id: sast-scan
        args: ['--type', 'go', '--config', '.sast-config.json']
        pass_filenames: false

  # Go code quality
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet-mod
      - id: go-mod-tidy
      - id: go-unit-tests
      - id: golangci-lint
        args: ['--enable=gosec,gocritic,revive,staticcheck']

  # Dockerfile security
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint
        args: ['--config', '.hadolint.yaml']

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^\.secrets\.baseline$

  # Kubernetes security
  - repo: https://github.com/bridgecrewio/checkov
    rev: 3.1.34
    hooks:
      - id: checkov
        args: [
          '--framework', 'kubernetes,dockerfile,helm',
          '--skip-check', 'CKV_K8S_8,CKV_K8S_9,CKV_K8S_10',
          '--compact',
          '--quiet'
        ]
        files: \.(yaml|yml|json|dockerfile|tf)$

  # License compliance
  - repo: local
    hooks:
      - id: license-check
        name: License Header Check
        entry: scripts/security/check-license-headers.sh
        language: script
        files: \.(go|py|js|ts)$

  # Security configuration validation
  - repo: local
    hooks:
      - id: security-policy-check
        name: Security Policy Validation
        entry: scripts/security/validate-security-policies.sh
        language: script
        files: ^(security/|deploy/k8s/|\.github/workflows/).*\.(yaml|yml)$

  # Go security best practices
  - repo: local
    hooks:
      - id: gosec-security-scan
        name: Go Security Scan (gosec)
        entry: scripts/security/run-gosec.sh
        language: script
        files: \.go$
        exclude: ^(vendor/|\.git/)

  # Container security
  - repo: local
    hooks:
      - id: dockerfile-security
        name: Dockerfile Security Check
        entry: scripts/security/check-dockerfile-security.sh
        language: script
        files: Dockerfile$

  # Network policy validation
  - repo: local
    hooks:
      - id: network-policy-validation
        name: Network Policy Validation
        entry: scripts/security/validate-network-policies.sh
        language: script
        files: ^.*network.*policy.*\.(yaml|yml)$

  # RBAC validation
  - repo: local
    hooks:
      - id: rbac-validation
        name: RBAC Policy Validation
        entry: scripts/security/validate-rbac.sh
        language: script
        files: ^.*rbac.*\.(yaml|yml)$

exclude: |
  (?x)^(
    vendor/|
    node_modules/|
    \.git/|
    tests/golden/|
    .*\.pb\.go$|
    .*_generated\.go$|
    zz_generated\.deepcopy\.go$
  )

# Configuration for individual tools
default_language_version:
  python: python3.11

# Global settings
fail_fast: false
minimum_pre_commit_version: '3.0.0'

fix: add version field to golangci-lint config for v2.5.0 compatibility
  .golangci.yml
Due: none

fix: resolve all critical golangci-lint issues for CI/CD
  .golangci.yml.disabled
  adapters/vnf-operator/controllers/optimized_vnf_controller.go
  adapters/vnf-operator/controllers/vnf_controller.go
  architecture/nephio-adapter-controller.go
  architecture/package-generator.go
  clusters/validation-framework/nephio_validator.go
  go.work.sum
  nephio-generator/pkg/validation/deployment_validator.go
  nephio-generator/test/integration/nephio_integration_test.go
  o2-client/pkg/o2dms/client.go
  o2-client/pkg/o2ims/client.go
  o2-client/pkg/o2ims/client_test.go
  scripts/fix-lint-issues.sh
  tests/test-reports/comprehensive-test-report.html
  tn/agent/pkg/monitor.go
  tn/agent/pkg/vxlan/exec_windows.go
  tn/agent/pkg/vxlan/optimized_manager.go
  tn/agent/pkg/vxlan/optimized_manager_test.go
  tn/cmd/agent/main.go
  tn/cmd/manager/main.go
  tn/manager/controllers/tnslice_controller.go
  tn/manager/pkg/client.go
  tn/tests/coverage/coverage_test.go
  tn/tests/security/kubernetes_manifest_test.go
Due: license-check, gosec-security-scan

fix: resolve all component build failures by fixing directory structures
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/ran-dms/Dockerfile
Due: dockerfile-security

fix: resolve cyclomatic complexity issues in code quality CI
  .github/workflows/docker-build.yml
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/orchestrator/README.md
  deploy/docker/orchestrator/build.sh
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/.dockerignore
  deploy/docker/vnf-operator/Dockerfile
  deploy/docker/vnf-operator/build.sh
  nephio-generator/pkg/configsync/configsync_manager.go
  nephio-generator/pkg/porch/repository_manager.go
  tn/agent/pkg/agent.go
  tn/agent/pkg/http_test.go
  tn/agent/pkg/iperf.go
Due: license-check, security-policy-check, gosec-security-scan, dockerfile-security

security: replace potentially sensitive test token with placeholder
  docs/TESTING_PROCEDURES.md
Due: none

docs: integrate TDD and MBSE principles into development workflow
  CLAUDE.md
  docs/models/README.md
Due: none

feat: complete O-RAN component integration with Docker and Kubernetes deployment
  .gitignore
  adapters/vnf-operator/deployment/kubernetes/dms-components-deployment.yaml
  adapters/vnf-operator/deployment/kubernetes/orchestrator-deployment.yaml
  cn-dms/Dockerfile
  docs/reports/FINAL_INTEGRATION_REPORT.md
  orchestrator/Dockerfile
  ran-dms/Dockerfile
Due: dockerfile-security

security: replace Slack webhook URL with example.com placeholder
  adapters/vnf-operator/tests/fixtures/monitoring/alertmanager_config.yaml
Due: none

chore: streamline GitHub workflows from 22 to 4 essential pipelines
  .github/workflows-backup/build.yml
  .github/workflows-backup/ci-quickfix.yml
  .github/workflows-backup/ci.yml
  .github/workflows-backup/deploy-monitoring.yml
  .github/workflows-backup/deployment-automation.yml
  .github/workflows-backup/deployment.yml
  .github/workflows-backup/docker-build.yml
  .github/workflows-backup/enhanced-ci-v2.yml
  .github/workflows-backup/enhanced-ci.yml
  .github/workflows-backup/lint.yml
  .github/workflows-backup/monitoring-alerting.yml
  .github/workflows-backup/performance-testing.yml
  .github/workflows-backup/production-deployment.yml
  .github/workflows-backup/security-comprehensive.yml
  .github/workflows-backup/security-enhanced.yml
  .github/workflows-backup/security-scan-simple.yml
  .github/workflows-backup/security-scan.yml
  .github/workflows-backup/security.yml
  .github/workflows-backup/test.yml
  .github/workflows-backup/trivy-scan.yml
  .github/workflows-backup/validate-metrics.yml
  .github/workflows-backup/workflow-validation.yml
  .github/workflows/README.md
Due: none

fix: resolve all CI/CD errors - go vet passes, improve test coverage
  adapters/vnf-operator/api/v1alpha1/go.sum
  adapters/vnf-operator/go.mod
  adapters/vnf-operator/go.sum
  adapters/vnf-operator/pkg/controller/deployment_controller_test.go
  adapters/vnf-operator/pkg/dms/o2_client_test.go
  adapters/vnf-operator/pkg/translator/nephio_packager_test.go
  adapters/vnf-operator/tests/deployment/helm_deployment_test.go
  docs/E2E_TESTING_GUIDE.md
  docs/scripts/e2e_test.sh
  o2-client/pkg/o2dms/enhanced_client.go
  o2-client/pkg/o2ims/client.go
  o2-client/pkg/o2ims/enhanced_client.go
  orchestrator/go.mod
  orchestrator/pkg/intent/parser_test.go
  orchestrator/pkg/placement/optimizer_test.go
  orchestrator/pkg/statemachine/statemachine.go
  tests/fixtures/nephio_package_fixtures.go
  tests/fixtures/placement_fixtures.go
  tests/integration/e2e_intent_flow_test.go
  tests/mocks/k8s_client_mock.go
  tests/test-reports/comprehensive-test-report.html
  tn/manager/pkg/enhanced_types.go
Due: license-check, gosec-security-scan

fix: update all Dockerfiles to use Go 1.24
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/test-framework/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
  orchestrator/Dockerfile
Due: dockerfile-security

fix: resolve type redeclaration errors in orchestrator test files
  orchestrator/pkg/intent/parser_test.go
  orchestrator/pkg/placement/optimizer_test.go
Due: license-check, gosec-security-scan

fix: update test matrix paths and remove unused imports
  .github/workflows/test.yml
Due: security-policy-check

fix: simplify test matrix generation using heredoc
  .github/workflows/test.yml
Due: security-policy-check

add: minimal test workflow for systematic debugging
  .github/workflows/minimal-test.yml
Due: security-policy-check

fix: resolve Docker build failures for 5 out of 7 components
  cn-dms/go.mod
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
  go.mod
  orchestrator/go.mod
  orchestrator/go.sum
  pkg/errors/go.mod
Due: dockerfile-security

feat: implement real Nephio R4+ features with TDD approach
  NEPHIO_R4_TDD_PLAN.md
  cn-dms/go.sum
  deploy/docker/orchestrator/Dockerfile
  go.work.sum
  nlp/__pycache__/__init__.cpython-310.pyc
  nlp/__pycache__/intent_parser.cpython-310.pyc
  nlp/__pycache__/schema_validator.cpython-310.pyc
  nlp/tests/__pycache__/__init__.cpython-310.pyc
  nlp/tests/__pycache__/test_qos_schema.cpython-310-pytest-7.4.3.pyc
  nlp/tests/unit/__pycache__/intent_parser_test.cpython-310-pytest-7.4.3.pyc
  pkg/kpt/auto_scaling.go
  pkg/kpt/network_policy.go
  pkg/kpt/network_slice_generator.go
  pkg/kpt/pipeline.go
  pkg/kpt/qos_policy.go
  pkg/kpt/resource_quota.go
  pkg/kpt/set_namespace.go
  pkg/kpt/types.go
  pkg/porch/lifecycle_manager.go
  pkg/porch/types.go
  test/kpt/functions_test.go
  test/porch/package_lifecycle_test.go
Due: license-check, gosec-security-scan, dockerfile-security

feat: implement ArgoCD GitOps integration with TDD
  pkg/argocd/controller.go
  pkg/argocd/types.go
  test/argocd/application_test.go
Due: license-check, gosec-security-scan

feat: add comprehensive WebSocket, E2E testing, and Claude AI integration
  COMPLETION_SUMMARY.md
  Dockerfile.websocket
  cmd/websocket-server/main.go
  docker-compose.websocket.yml
  docs/CLAUDE_TMUX_INTEGRATION.md
  docs/E2E_COMPLETE_FLOW.md
  docs/WEBSOCKET_DEMO.md
  examples/claude_cli_demo.go
  go.mod
  go.sum
  go.work.sum
  pkg/claude/client.go
  pkg/claude/tmux_manager.go
  pkg/claude/types.go
  pkg/deployment/k8s_manager.go
  pkg/deployment/o2_client.go
  pkg/deployment/optimizer.go
  pkg/deployment/types.go
  pkg/e2e/orchestrator.go
  pkg/e2e/types.go
  pkg/metrics/dashboard_generator.go
  pkg/metrics/grafana_client.go
  pkg/metrics/prometheus_client.go
  pkg/metrics/types.go
  pkg/websocket/e2e_handler.go
  pkg/websocket/server.go
  scripts/cleanup-test-processes.sh
  scripts/run-websocket-demo.sh
  test/claude/cli_test.go
  test/claude/tmux_integration_test.go
  test/deployment/real_deployment_test.go
  test/e2e/full_integration_test.go
  test/e2e/simple_integration_test.go
  test/metrics/prometheus_test.go
  test/websocket/e2e_test.go
  web/index.html
Due: license-check, gosec-security-scan

fix: correct GitHub Actions matrix generation format
  .github/workflows/test.yml
Due: security-policy-check

fix: update codecov-action to v4 for compatibility
  .github/workflows/ci.yml
Due: security-policy-check

chore: update backup workflows with codecov v4 compatibility
  .github/workflows-backup/build.yml
  .github/workflows-backup/ci.yml
  .github/workflows-backup/production-deployment.yml
  .github/workflows-backup/test.yml
Due: none

test: add E2E testing infrastructure and validation results
  work_dir/DEPLOYMENT-VALIDATION-RESULTS.md
  work_dir/Dockerfile.nephio
  work_dir/Dockerfile.orchestrator
  work_dir/E2E-SIMPLIFIED-TEST.md
  work_dir/E2E-TEST-GUIDE.md
  work_dir/docker-compose.e2e.yml
  work_dir/kubeconfig/kubeconfig.yaml
  work_dir/porch-config/porch-crds.yaml
  work_dir/porch-config/porch-deployment.yaml
  work_dir/scripts/setup-gitea.sh
  work_dir/scripts/test-deployment.sh
Due: none

fix: resolve GitHub Actions workflow failures
  .github/workflows/dependency-review.yml
  .github/workflows/docker-build.yml
  Dockerfile.orchestrator-web
  adapters/vnf-operator/api/v1alpha1/go.mod
  adapters/vnf-operator/go.mod
  api/mano/v1alpha1/go.mod
  cn-dms/go.mod
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  go.mod
  nephio-generator/api/workload/v1alpha1/go.mod
  nephio-generator/go.mod
  nephio-generator/pkg/generator/go.mod
  nephio-generator/pkg/renderer/go.mod
  o2-client/go.mod
  orchestrator/go.mod
  pkg/errors/go.mod
  pkg/o2client/go.mod
  ran-dms/go.mod
  tests/go.mod
  tn/agent/pkg/watcher/go.mod
  tn/go.mod
  tn/manager/api/v1alpha1/go.mod
  work_dir/Dockerfile.test
  work_dir/security/go.mod
  work_dir/tests/go.mod
Due: security-policy-check, dockerfile-security
