Repository thc1006/O-RAN-Intent-MANO-for-Network-Slicing: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, security-policy-check, gosec-security-scan, dockerfile-security, network-policy-validation, rbac-validation

.pre-commit-config.yaml:

# O-RAN Intent-MANO Pre-commit Security Configuration
# This configuration runs security checks on every commit
repos:
  # Code quality and formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: detect-private-key
      - id: detect-aws-credentials

  # Go security scanning
  - repo: https://github.com/securecodewarrior/sast-scan
    rev: v1.15.0
    hooks:
      - id: sast-scan
        args: ['--type', 'go', '--config', '.sast-config.json']
        pass_filenames: false

  # Go code quality
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet-mod
      - id: go-mod-tidy
      - id: go-unit-tests
      - id: golangci-lint
        args: ['--enable=gosec,gocritic,revive,staticcheck']

  # Dockerfile security
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint
        args: ['--config', '.hadolint.yaml']

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^\.secrets\.baseline$

  # Kubernetes security
  - repo: https://github.com/bridgecrewio/checkov
    rev: 3.1.34
    hooks:
      - id: checkov
        args: [
          '--framework', 'kubernetes,dockerfile,helm',
          '--skip-check', 'CKV_K8S_8,CKV_K8S_9,CKV_K8S_10',
          '--compact',
          '--quiet'
        ]
        files: \.(yaml|yml|json|dockerfile|tf)$

  # License compliance
  - repo: local
    hooks:
      - id: license-check
        name: License Header Check
        entry: scripts/security/check-license-headers.sh
        language: script
        files: \.(go|py|js|ts)$

  # Security configuration validation
  - repo: local
    hooks:
      - id: security-policy-check
        name: Security Policy Validation
        entry: scripts/security/validate-security-policies.sh
        language: script
        files: ^(security/|deploy/k8s/|\.github/workflows/).*\.(yaml|yml)$

  # Go security best practices
  - repo: local
    hooks:
      - id: gosec-security-scan
        name: Go Security Scan (gosec)
        entry: scripts/security/run-gosec.sh
        language: script
        files: \.go$
        exclude: ^(vendor/|\.git/)

  # Container security
  - repo: local
    hooks:
      - id: dockerfile-security
        name: Dockerfile Security Check
        entry: scripts/security/check-dockerfile-security.sh
        language: script
        files: Dockerfile$

  # Network policy validation
  - repo: local
    hooks:
      - id: network-policy-validation
        name: Network Policy Validation
        entry: scripts/security/validate-network-policies.sh
        language: script
        files: ^.*network.*policy.*\.(yaml|yml)$

  # RBAC validation
  - repo: local
    hooks:
      - id: rbac-validation
        name: RBAC Policy Validation
        entry: scripts/security/validate-rbac.sh
        language: script
        files: ^.*rbac.*\.(yaml|yml)$

exclude: |
  (?x)^(
    vendor/|
    node_modules/|
    \.git/|
    tests/golden/|
    .*\.pb\.go$|
    .*_generated\.go$|
    zz_generated\.deepcopy\.go$
  )

# Configuration for individual tools
default_language_version:
  python: python3.11

# Global settings
fail_fast: false
minimum_pre_commit_version: '3.0.0'

fix: run go mod tidy to resolve dependency issues
  adapters/vnf-operator/go.mod
  cn-dms/go.mod
  go.mod
  o2-client/go.mod
  orchestrator/go.mod
  pkg/security/go.mod
  ran-dms/go.mod
  tn/go.mod
Due: none

fix: ensure all go.mod files use Go 1.23.6
  adapters/vnf-operator/go.mod
  cn-dms/go.mod
  go.mod
  ran-dms/go.mod
  tn/go.mod
Due: none

fix: update all GitHub workflows to use Go 1.23.6
  .github/workflows/ci-quickfix.yml
  .github/workflows/ci.yml
  .github/workflows/enhanced-ci.yml
  .github/workflows/production-deployment.yml
  .github/workflows/security-enhanced.yml
  .github/workflows/security-scan-simple.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  .github/workflows/trivy-scan.yml
Due: security-policy-check

fix: update security-scan.yaml to use Go 1.23.6
  deploy/docker/security-scan.yaml
Due: none

fix: correct golang image version and YAML syntax
  .github/workflows/enhanced-ci.yml
  deploy/docker/security-scan.yaml
Due: security-policy-check

fix: complete Go version standardization to 1.23.6
  .github/workflows/enhanced-ci.yml
  build-validation-report.md
  docs/SECURITY_FIXES_SUMMARY.md
  final-validation/CI_READINESS_REPORT.md
  go.work
  go.work.backup
Due: security-policy-check

fix: resolve YAML heredoc syntax errors in workflow files
  .github/workflows/security-scan.yml
Due: security-policy-check

fix: upgrade to Go 1.24.7 to meet Kubernetes API requirements
  .github/workflows/ci-quickfix.yml
  .github/workflows/ci.yml
  .github/workflows/enhanced-ci.yml
  .github/workflows/production-deployment.yml
  .github/workflows/security-enhanced.yml
  .github/workflows/security-scan-simple.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  .github/workflows/trivy-scan.yml
  adapters/vnf-operator/go.mod
  cn-dms/go.mod
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/security-scan.yaml
  deploy/docker/test-framework/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
  go.mod
  go.work
  go.work.backup
  orchestrator/go.mod
  pkg/security/go.mod
  ran-dms/go.mod
  tn/go.mod
Due: security-policy-check, dockerfile-security

fix: complete upgrade of all 1.23.x references to 1.24.7
  .github/workflows/security.yml
  build-validation-report.md
  docs/SECURITY_FIXES_SUMMARY.md
  final-validation/CI_READINESS_REPORT.md
  scripts/README-security-check.md
Due: security-policy-check

fix: update API module go.mod files to Go 1.24.7
  adapters/vnf-operator/api/v1alpha1/go.mod
  api/mano/v1alpha1/go.mod
  nephio-generator/go.mod
Due: none

fix: update staticcheck to latest version for Go 1.24.7 compatibility
  .github/workflows/ci.yml
Due: security-policy-check

fix: resolve all staticcheck linting issues
  architecture/package-generator.go
  clusters/validation-framework/cmd/main.go
  clusters/validation-framework/configsync_validator.go
  clusters/validation-framework/e2e_pipeline.go
  clusters/validation-framework/metrics_collector.go
  clusters/validation-framework/nephio_validator.go
  clusters/validation-framework/rollback_manager.go
  clusters/validation-framework/validator.go
  monitoring/pkg/bottleneck_analyzer.go
  tests/e2e/deployment_timing_test.go
  tests/framework/dashboard/cmd/dashboard/main.go
  tests/framework/dashboard/metrics_aggregator.go
  tests/integration/nephio_integration_test.go
  tests/integration/o2_interface_test.go
  tests/integration/vnf_lifecycle_test.go
  tests/integration/vnf_operator_integration_test.go
  tests/performance/network_performance_test.go
  tests/performance/qos_validation_test.go
  tests/performance/thesis_validation_test.go
  tests/security/benchmark_security_test.go
  tests/security/coverage_security_test.go
Due: license-check, gosec-security-scan

fix: temporarily disable staticcheck to unblock CI
  .github/workflows/ci.yml
Due: security-policy-check

fix: correct gosec repository URL in security-check.sh
  scripts/security-check.sh
Due: none

feat: add golangci-lint configuration
  .github/workflows/enhanced-ci.yml
  .golangci.yml
Due: security-policy-check

fix: update ran-dms Dockerfile Go version label to 1.24.7
  .golangci.yml
  deploy/docker/ran-dms/Dockerfile
Due: dockerfile-security

fix: skip golangci-lint for modules with k8s.io/apimachinery v0.34+
  .github/workflows/enhanced-ci.yml
  adapters/vnf-operator/go.mod
  cn-dms/go.mod
  deploy/k8s/base/orchestrator.yaml
  deploy/k8s/base/vnf-operator.yaml
  ran-dms/go.mod
  tn/go.mod
Due: security-policy-check

fix: add execute permission to security-check.sh
  scripts/security-check.sh
Due: none

fix: improve Kubebuilder download reliability in CI
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  adapters/vnf-operator/tests/integration/vnf_lifecycle_test.go
Due: license-check, security-policy-check, gosec-security-scan
