Repository thc1006/O-RAN-Intent-MANO-for-Network-Slicing: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, security-policy-check, gosec-security-scan, dockerfile-security, network-policy-validation, rbac-validation

.pre-commit-config.yaml:

# O-RAN Intent-MANO Pre-commit Security Configuration
# This configuration runs security checks on every commit
repos:
  # Code quality and formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: detect-private-key
      - id: detect-aws-credentials

  # Go security scanning
  - repo: https://github.com/securecodewarrior/sast-scan
    rev: v1.15.0
    hooks:
      - id: sast-scan
        args: ['--type', 'go', '--config', '.sast-config.json']
        pass_filenames: false

  # Go code quality
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet-mod
      - id: go-mod-tidy
      - id: go-unit-tests
      - id: golangci-lint
        args: ['--enable=gosec,gocritic,revive,staticcheck']

  # Dockerfile security
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint
        args: ['--config', '.hadolint.yaml']

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^\.secrets\.baseline$

  # Kubernetes security
  - repo: https://github.com/bridgecrewio/checkov
    rev: 3.1.34
    hooks:
      - id: checkov
        args: [
          '--framework', 'kubernetes,dockerfile,helm',
          '--skip-check', 'CKV_K8S_8,CKV_K8S_9,CKV_K8S_10',
          '--compact',
          '--quiet'
        ]
        files: \.(yaml|yml|json|dockerfile|tf)$

  # License compliance
  - repo: local
    hooks:
      - id: license-check
        name: License Header Check
        entry: scripts/security/check-license-headers.sh
        language: script
        files: \.(go|py|js|ts)$

  # Security configuration validation
  - repo: local
    hooks:
      - id: security-policy-check
        name: Security Policy Validation
        entry: scripts/security/validate-security-policies.sh
        language: script
        files: ^(security/|deploy/k8s/|\.github/workflows/).*\.(yaml|yml)$

  # Go security best practices
  - repo: local
    hooks:
      - id: gosec-security-scan
        name: Go Security Scan (gosec)
        entry: scripts/security/run-gosec.sh
        language: script
        files: \.go$
        exclude: ^(vendor/|\.git/)

  # Container security
  - repo: local
    hooks:
      - id: dockerfile-security
        name: Dockerfile Security Check
        entry: scripts/security/check-dockerfile-security.sh
        language: script
        files: Dockerfile$

  # Network policy validation
  - repo: local
    hooks:
      - id: network-policy-validation
        name: Network Policy Validation
        entry: scripts/security/validate-network-policies.sh
        language: script
        files: ^.*network.*policy.*\.(yaml|yml)$

  # RBAC validation
  - repo: local
    hooks:
      - id: rbac-validation
        name: RBAC Policy Validation
        entry: scripts/security/validate-rbac.sh
        language: script
        files: ^.*rbac.*\.(yaml|yml)$

exclude: |
  (?x)^(
    vendor/|
    node_modules/|
    \.git/|
    tests/golden/|
    .*\.pb\.go$|
    .*_generated\.go$|
    zz_generated\.deepcopy\.go$
  )

# Configuration for individual tools
default_language_version:
  python: python3.11

# Global settings
fail_fast: false
minimum_pre_commit_version: '3.0.0'

fix: normalize line endings across test and architecture files
  architecture/nephio-adapter-controller.go
  clusters/validation-framework/argocd_validator.go
  clusters/validation-framework/configsync_validator.go
  clusters/validation-framework/nephio_validator.go
  tests/integration/e2e_workflow_test.go
  tests/integration/vnf_operator_integration_test.go
  tests/performance/network_performance_test.go
  tests/security/coverage_security_test.go
  tests/security/error_handling_test.go
  tests/security/fuzzing_security_test.go
  tests/security/http_security_test.go
  tests/security/integration_security_test.go
  tests/security/negative_security_test.go
Due: license-check, gosec-security-scan

fix: resolve golangci-lint issues across codebase
  architecture/deepcopy.go
  architecture/kustomize_types.go
  architecture/nephio-adapter-controller.go
  architecture/package-generator.go
  clusters/validation-framework/argocd_validator.go
  clusters/validation-framework/cmd/main.go
  clusters/validation-framework/configsync_validator.go
  clusters/validation-framework/drift_detector.go
  clusters/validation-framework/e2e_pipeline.go
  clusters/validation-framework/git_repository.go
  clusters/validation-framework/metrics_collector.go
  clusters/validation-framework/nephio_validator.go
  clusters/validation-framework/rollback_manager.go
  clusters/validation-framework/sync_manager.go
  clusters/validation-framework/validator.go
  fix_dot_imports.py
  monitoring/pkg/bottleneck_analyzer.go
  pkg/o2client/client.go
  tests/framework/dashboard/cmd/dashboard/main.go
  tests/framework/dashboard/metrics_aggregator.go
  tests/framework/testutils/reporter.go
  tests/framework/testutils/setup.go
  tests/integration/multi_cluster_test.go
  tests/integration/nephio_integration_test.go
  tests/integration/o2_interface_test.go
  tests/integration/vnf_lifecycle_test.go
  tests/performance/network_performance_test.go
  tests/performance/qos_validation_test.go
  tests/performance/thesis_validation_test.go
Due: license-check, gosec-security-scan

fix: resolve Docker build and Kubernetes security scan issues
  .github/workflows/security-scan.yml
  checkov-k8s-fixed.sarif/results_sarif.sarif
  checkov-k8s.sarif/results_sarif.sarif
  deploy/docker/vnf-operator/Dockerfile
  deploy/k8s/base/orchestrator.yaml
  deploy/k8s/base/vnf-operator.yaml
  nlp/bandit-report.json
  nlp/intent_cache.py
  nlp/intent_parser.py
  nlp/intent_processor.py
  nlp/run_intents.py
  nlp/schema_validator.py
  nlp/tests/test_qos_schema.py
  nlp/tests/unit/intent_parser_test.py
  o2-client/pkg/models/models_test.go
  o2-client/pkg/models/o2_types.go
  o2-client/pkg/o2dms/client_test.go
  o2-client/pkg/o2ims/client_test.go
  scripts/security-check-windows.sh
Due: license-check, security-policy-check, gosec-security-scan, dockerfile-security

fix: resolve vnf-operator compilation issues on Windows
  adapters/vnf-operator/Makefile
  adapters/vnf-operator/hack/boilerplate.go.txt
  adapters/vnf-operator/test-compile.sh
Due: none

fix: resolve artifact download issues in security workflow
  .github/workflows/security.yml
Due: security-policy-check

fix: resolve all golangci-lint issues and improve code quality
  .github/workflows/production-deployment.yml
  adapters/vnf-operator/cmd/manager/main.go
  adapters/vnf-operator/config/rbac/role.yaml
  adapters/vnf-operator/controllers/optimized_vnf_controller.go
  adapters/vnf-operator/controllers/suite_test.go
  adapters/vnf-operator/controllers/vnf_controller.go
  adapters/vnf-operator/controllers/vnf_controller_test.go
  adapters/vnf-operator/pkg/dms/client.go
  adapters/vnf-operator/pkg/gitops/client.go
  adapters/vnf-operator/pkg/translator/porch.go
  adapters/vnf-operator/tests/golden/golden_test.go
  adapters/vnf-operator/tests/integration/vnf_lifecycle_test.go
  architecture/deepcopy.go
  architecture/nephio-adapter-controller.go
  architecture/package-generator.go
  golangci-lint-new.zip
  kubesec.tar.gz
  lint-errors.txt
  nlp/bandit-report-new.json
  nlp/intent_cache.py
  nlp/intent_parser.py
  nlp/intent_processor.py
  nlp/run_intents.py
  nlp/schema_validator.py
  pkg/security/filepath.go
  pkg/security/filepath_test.go
  pkg/security/logging.go
  pkg/security/logging_test.go
  pkg/security/subprocess.go
  pkg/security/subprocess_test.go
  pkg/security/validation.go
  pkg/security/validation_test.go
  tests/e2e/deployment_timing_test.go
  tests/e2e/intent_to_slice_workflow_test.go
  tests/framework/dashboard/cmd/dashboard/main.go
  tests/integration/nephio_integration_test.go
  tests/integration/vnf_operator_integration_test.go
  tests/performance/thesis_validation_test.go
Due: license-check, security-policy-check, gosec-security-scan, rbac-validation

fix: resolve container security scan failures in CI workflow
  .github/workflows/ci.yml
  .github/workflows/enhanced-ci.yml
  .github/workflows/production-deployment.yml
  .github/workflows/security.yml
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/test-framework/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
Due: security-policy-check, dockerfile-security

chore: enforce Go 1.24.7 as project standard in CLAUDE.md
  .github/workflows/production-deployment.yml
  .github/workflows/security.yml
  CLAUDE.md
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/test-framework/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
Due: security-policy-check, dockerfile-security

fix: resolve multiple CI workflow issues for stable builds
  .github/workflows/production-deployment.yml
  CLAUDE.md
  experiments/assert_report.py
  experiments/collect_metrics.py
  experiments/test_harness.py
  go-analysis-report.json
  scripts/validate-security-fixes.py
  scripts/validate_optimizations.py
  test-go-analysis.sh
  test-golangci-lint-fix.sh
Due: license-check, security-policy-check

feat: upgrade toolchain to golangci-lint v2.4.0 + GitHub Action v8
  .github/workflows/enhanced-ci.yml
  CLAUDE.md
  experiments/assert_report.py
  experiments/collect_metrics.py
  experiments/test_harness.py
  job-logs1.txt
  scripts/validate-security-fixes.py
  scripts/validate_optimizations.py
  test-golangci-lint-fix.sh
Due: license-check, security-policy-check

fix: upgrade golangci-lint-action to v8 and resolve CI compatibility
  .github/workflows/ci.yml
  .golangci.yml
Due: security-policy-check

fix: correct github/codeql-action version from v4 to v3
  .github/workflows/ci.yml
  .github/workflows/enhanced-ci.yml
Due: security-policy-check

fix: resolve golangci-lint installation issue and upgrade to v2.5.0
  .github/workflows/ci.yml
  .github/workflows/enhanced-ci.yml
  .golangci.yml
  CLAUDE.md
Due: security-policy-check

fix: resolve envtest "etcd not found" issue in CI tests
  .github/workflows/ci.yml
  adapters/vnf-operator/controllers/suite_test.go
Due: license-check, security-policy-check, gosec-security-scan

fix: remove invalid --version flag from golangci-lint-action args
  .github/workflows/ci.yml
  .golangci.yml
Due: security-policy-check

improve: add type annotations and code quality fixes to run_intents.py
  nlp/run_intents.py
Due: license-check

fix: resolve golangci-lint v2.5.0 compatibility issues
  .github/workflows/ci.yml
  .golangci.yml
Due: security-policy-check

fix: install iperf3 in CI to resolve integration test failures
  .github/workflows/ci.yml
  .github/workflows/enhanced-ci.yml
Due: security-policy-check

add: verification script for golangci-lint v2.5.0 compatibility
  verify-golangci-v2-fix.sh
Due: none

fix: completely migrate .golangci.yml to v2 format
  .golangci.yml
Due: none
