Repository thc1006/O-RAN-Intent-MANO-for-Network-Slicing: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, security-policy-check, gosec-security-scan, dockerfile-security, network-policy-validation, rbac-validation

license-check:
  name: License Header Check
  entry: scripts/security/check-license-headers.sh
  language: script

security-policy-check:
  name: Security Policy Validation
  entry: scripts/security/validate-security-policies.sh
  language: script

gosec-security-scan:
  name: Go Security Scan (gosec)
  entry: scripts/security/run-gosec.sh
  language: script

dockerfile-security:
  name: Dockerfile Security Check
  entry: scripts/security/check-dockerfile-security.sh
  language: script

network-policy-validation:
  name: Network Policy Validation
  entry: scripts/security/validate-network-policies.sh
  language: script

rbac-validation:
  name: RBAC Policy Validation
  entry: scripts/security/validate-rbac.sh
  language: script

fix(tests): Round 41 - Remove unused metav1 import
  adapters/vnf-operator/tests/monitoring/prometheus_deployment_test.go
Due: license-check, gosec-security-scan

fix(tests): Round 42 - Remove unused imports from servicemonitor_test.go
  adapters/vnf-operator/tests/monitoring/servicemonitor_test.go
Due: license-check, gosec-security-scan

fix(docker): Update all Dockerfiles to use golang:1.24.7-alpine
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
Due: dockerfile-security

fix(workflows): Set correct build-mode for CodeQL language matrix
  .github/workflows/codeql.yml
Due: security-policy-check

fix: add missing go.sum entries and update Dockerfiles
  .github/workflows/ci.yml
  cn-dms/Dockerfile
  deploy/docker/test-framework/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
  go.mod
  go.sum
  orchestrator/Dockerfile
  orchestrator/pkg/placement/policy_test.go
  ran-dms/Dockerfile
Due: license-check, security-policy-check, gosec-security-scan, dockerfile-security

fix(orchestrator): Add missing go.sum entries for Prometheus client
  orchestrator/go.sum
Due: none

fix(ci): Fix KUBEBUILDER_ASSETS environment variable setup
  .github/workflows/ci.yml
  tests/go.mod
  tests/go.sum
Due: security-policy-check

fix(tests): Remove invalid CRD placeholder file
  adapters/vnf-operator/config/crd/bases/_.yaml
Due: none

fix(api): Fix API group mismatch between Go code and CRD
  adapters/vnf-operator/api/v1alpha1/vnf_types.go
Due: license-check, gosec-security-scan

fix: Remove unused directories and dependencies from go.work and go.mod
  docs/devcontainer-analysis.md
  go.work
  package-lock.json
  tn/go.mod
Due: none

perf(docker): Fix multi-arch builds to use native compilation
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  deploy/docker/vnf-operator/Dockerfile
Due: dockerfile-security

fix(docker): Update base image from Alpine 3.20 to 3.21 to address security vulnerabilities
  deploy/docker/cn-dms/Dockerfile
  deploy/docker/o2-client/Dockerfile
  deploy/docker/orchestrator/Dockerfile
  deploy/docker/ran-dms/Dockerfile
  deploy/docker/tn-agent/Dockerfile
  deploy/docker/tn-manager/Dockerfile
  docs/CI-VNF-OPERATOR-FAILURE-ANALYSIS.md
Due: dockerfile-security

fix(docker): Update Alpine version from 3.20 to 3.21 to address security vulnerabilities
  deploy/docker/test-framework/Dockerfile
  observability/dashboard/Dockerfile
Due: dockerfile-security

fix(docker): Update Go version label from 1.22.10 to 1.24.7 for consistency
  deploy/docker/tn-manager/Dockerfile
Due: dockerfile-security

Refactor code structure for improved readability and maintainability
  docs/SECURITY_FIXES.md
  experiments/__pycache__/collect_metrics.cpython-313.pyc
  experiments/collect_metrics.py
  pkg/claude/tmux_manager.go
  pkg/e2e/orchestrator.go
  work_dir/security/cmd/main.go
Due: license-check, gosec-security-scan

fix(docker): Update Go version label to 1.24.7 in vnf-operator Dockerfile
  deploy/docker/vnf-operator/Dockerfile
Due: dockerfile-security

feat(orchestrator): Add Argo CD integration for GitOps-based network slice deployment
  README.md
  go.work.sum
  o2-client/go.sum
  orchestrator/cmd/orchestrator/main.go
  orchestrator/go.mod
  orchestrator/go.sum
  orchestrator/pkg/argocd/apis/types.go
  orchestrator/pkg/argocd/application.go
  orchestrator/pkg/argocd/application_test.go
  orchestrator/pkg/slices/manifests.go
  orchestrator/pkg/slices/manifests_test.go
  orchestrator/test-config.yaml
  orchestrator/test/argocd_test_client.go
Due: license-check, gosec-security-scan

feat(nlp): Complete natural language E2E integration for network slicing
  nlp/nlp_service.py
  nlp/requirements-nlp-service.txt
  nlp/test_nlp_service.py
  orchestrator/cmd/orchestrator/main.go
  orchestrator/pkg/nlp/client.go
  orchestrator/pkg/nlp/client_test.go
  orchestrator/test/e2e_natural_language_test.sh
Due: license-check, gosec-security-scan

feat(deploy): Add production-ready Docker and Kubernetes deployment configurations
  README.md
  deploy/README.md
  deploy/argocd/nlp-app.yaml
  deploy/argocd/orchestrator-app.yaml
  deploy/argocd/tn-app.yaml
  deploy/docker-compose.yml
  deploy/k8s/nlp/deployment-complete.yaml
  deploy/k8s/nlp/deployment.yaml
  deploy/k8s/orchestrator/deployment-complete.yaml
  deploy/k8s/orchestrator/deployment.yaml
  deploy/k8s/tn/deployment.yaml
  nlp/Dockerfile
Due: security-policy-check, dockerfile-security

perf(nlp-e2e): Complete performance testing and analysis with 100% success rate
  Dockerfile.orchestrator-web
  cmd/websocket-server/go.mod
  cmd/websocket-server/go.sum
  docs/ARGOCD_MONITORING.md
  docs/CLAUDE_CLI_INTEGRATION.md
  docs/COMPLETE_DEPLOYMENT_GUIDE.md
  docs/E2E_IMPLEMENTATION_GUIDE.md
  docs/NLP_E2E_INTEGRATION_SUMMARY.md
  docs/PERFORMANCE_ANALYSIS.md
  integrated_server.py
  nlp/__pycache__/intent_parser.cpython-313.pyc
  nlp/__pycache__/nlp_service.cpython-313.pyc
  nlp/__pycache__/schema_validator.cpython-313.pyc
  nlp/__pycache__/test_nlp_service.cpython-313-pytest-7.4.4.pyc
  nlp/tests/__pycache__/test_qos_schema.cpython-313-pytest-7.4.4.pyc
  nlp/tests/unit/__pycache__/intent_parser_test.cpython-313-pytest-7.4.4.pyc
  tests/performance/benchmark_nlp_e2e.sh
  tests/performance/results/nlp_embb_20251001_010408.txt
  tests/performance/results/nlp_embb_20251001_010818.txt
  tests/performance/results/nlp_mmtc_20251001_010408.txt
  tests/performance/results/nlp_mmtc_20251001_010818.txt
  tests/performance/results/nlp_urllc_20251001_010408.txt
  tests/performance/results/nlp_urllc_20251001_010818.txt
  tests/performance/results/orch_embb_20251001_010408.txt
  tests/performance/results/orch_embb_20251001_010818.txt
  tests/performance/results/orch_mmtc_20251001_010408.txt
  tests/performance/results/orch_mmtc_20251001_010818.txt
  tests/performance/results/orch_urllc_20251001_010408.txt
  tests/performance/results/orch_urllc_20251001_010818.txt
  web/index.html
  web/monitor.html
  websocket_server.py
Due: license-check

feat(docs): 添加 O-RAN 自然語言網路切片快速參考指南，包含請求範例及服務端點資訊 fix(websocket): 更新 WebSocket 伺服器連接邏輯，修正客戶端處理函數參數
  docs/QUICK_START_GUIDE.md
  quick-reference.txt
  web/index.html
  websocket_server.py
Due: license-check

feat(docs): 新增 Windows 使用指南，包含服務啟動、系統需求及故障排除說明 feat(scripts): 新增實時監控腳本以追蹤自然語言處理流程 feat(bat): 新增啟動及停止服務的批處理腳本，簡化服務管理
  README-WINDOWS.txt
  scripts/watch-flow.sh
  start-oran.bat
  stop-oran.bat
Due: none

feat(docs): Update deployment guide with Windows local deployment section
  docs/COMPLETE_DEPLOYMENT_GUIDE.md
Due: none

Path conditions:
  license-check: any of: \.(go|py|js|ts)$, but not: (?x)^(
  vendor/|
  node_modules/|
  \.git/|
  tests/golden/|
  .*\.pb\.go$|
  .*_generated\.go$|
  zz_generated\.deepcopy\.go$
)

  security-policy-check: any of: ^(security/|deploy/k8s/|\.github/workflows/).*\.(yaml|yml)$, but not: (?x)^(
  vendor/|
  node_modules/|
  \.git/|
  tests/golden/|
  .*\.pb\.go$|
  .*_generated\.go$|
  zz_generated\.deepcopy\.go$
)

  gosec-security-scan: any of: \.go$ and not (^(vendor/|\.git/)) and not ((?x)^(
  vendor/|
  node_modules/|
  \.git/|
  tests/golden/|
  .*\.pb\.go$|
  .*_generated\.go$|
  zz_generated\.deepcopy\.go$
)
)
  dockerfile-security: any of: Dockerfile$, but not: (?x)^(
  vendor/|
  node_modules/|
  \.git/|
  tests/golden/|
  .*\.pb\.go$|
  .*_generated\.go$|
  zz_generated\.deepcopy\.go$
)

  network-policy-validation: any of: ^.*network.*policy.*\.(yaml|yml)$, but not: (?x)^(
  vendor/|
  node_modules/|
  \.git/|
  tests/golden/|
  .*\.pb\.go$|
  .*_generated\.go$|
  zz_generated\.deepcopy\.go$
)

  rbac-validation: any of: ^.*rbac.*\.(yaml|yml)$, but not: (?x)^(
  vendor/|
  node_modules/|
  \.git/|
  tests/golden/|
  .*\.pb\.go$|
  .*_generated\.go$|
  zz_generated\.deepcopy\.go$
)

